<style>
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 12px 0;
    width: 92%;
    display: flex;
    flex-direction: column;
  }

  .card-body {
    padding: 12px 12px 12px 20px;
  }
  
  .archive__item-title {
    font-size: 1.15em !important;
    width: 100% !important;
    display: block;
    margin: 0.2em 0;
    padding: 0;
  }

  .archive__item-authors,
  .archive__item-venue {
    font-size: 1.0em;
    color: #555;
    margin: 0.2em 0;
  }

  .card-body p {
    margin: 0.2em 0;
  }
</style>

<div class="card">
  <div class="card-body">
    {% include base_path %}

    {% if post.header.teaser %}
      {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
    {% else %}
      {% assign teaser = site.teaser %}
    {% endif %}

    {% if post.id %}
      {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
    {% else %}
      {% assign title = post.title %}
    {% endif %}

    <div class="{{ include.type | default: "list" }}__item">
      <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        {% if include.type == "grid" and teaser %}
          <div class="archive__item-teaser">
            <img src=
              {% if teaser contains "://" %}
                "{{ teaser }}"
              {% else %}
                "{{ teaser | prepend: "/images/" | prepend: base_path }}"
              {% endif %}
              alt="">
          </div>
        {% endif %}
        
        <h2 class="archive__item-title" itemprop="headline">
          {% if post.paperurl %}
            <a href="{{ post.paperurl }}">{{ title }}</a>
          {% else %}
            {{ title }}
          {% endif %}
        </h2>
        
        {% if post.authors %}
          <p class="archive__item-authors">{{ post.authors | markdownify }}</p>
        {% endif %}

        {% if post.venue %}
          <p class="archive__item-venue">{{ post.venue }}</p>
        {% endif %}

        {% if post.read_time %}
          <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
        {% endif %}
        
        {% if post.excerpt %}
          <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
        {% endif %}
      </article>
    </div>
  </div>
</div>